on:
  - "pull_request"
  - "push"

permissions:
  contents: "read"
  checks: write
  pull-requests: write

jobs:
  build_openssl:
    strategy:
      fail-fast: false
      matrix:
        runner: ["windows-latest"]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2    
      - name: "Checkout openssl"
        uses: "actions/checkout@v5"
        with:
          repository: "openssl/openssl"
          ref: "openssl-3.6"
          persist-credentials: false
          path: "openssl"
      
      - name: "Build openssl"
        working-directory: "openssl"
        run: |
          perl Configure --prefix="${{ github.workspace }}\openssl\dist"
          nmake 
          nmake install_sw
